//variables couleurs
$yellow: #FFCB00;
$green: #00B379;
$red: #DB7F7C;
$red-darker: #C25F5C;
$blue: #008FB3;
$blue-darker:#2649D4;
$purple: #444679;
$purple-dark: #3A3C6F;
$purple-darker: #303266;
$shadow: rgba(20,20,20,0.5);
$white: white;

/*** size ***/
$h1Size:24px;
$h2Size:30px;
$h3Size:13px;
$h4Size:12px;
$textSize:18px;
$lineTextHeight:21px;

$minMobileWidth:320px;
$maxMobileWidth:959px;

$mobileWidth:540px;
$tabletWidth:960px;

/*** fix ***/
section, div, p, h1, h2, h3, h4 {
  box-sizing: border-box;
}

/*** sinpets ***/

@mixin sizeForMobile() {
    width: 100% !important;
    min-width: 320px;
}

@mixin mainCenter($width: 960px) {
    max-width:$width;
    margin-right: auto;
    margin-left: auto;
    padding : 0px 0px 0px 0px;

    @media only screen and (max-width:$tabletWidth) {
      width: 100% !important;
      min-width: 320px;
      padding: 0 15vw;
    }
  
    @media only screen and (max-width:$mobileWidth) {
      padding: 0 10vw;
    }
}
@mixin blocCenter($width: 960px) {
  max-width:$width;
  margin-right: auto;
  margin-left: auto;
  padding : 0px 0px 0px 0px;
}
@mixin mainCenterFlexRow() {
    width:960px;
    margin-right: auto;
    margin-left: auto;
    padding : 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media only screen and (max-width:$tabletWidth) {

    }
  
    @media only screen and (max-width:$mobileWidth) {
    }
}

@mixin titleFont() {
  font-family: 'Lexend Peta', sans-serif;
}

@mixin regularFont() {
  font-family: 'Urbanist', sans-serif;
}

/**hamMenu**/
label.ham{
  display:flex;
   flex-direction:column;
   width:20px;
   cursor:pointer;
   
   span{
   background-color: $blue;
   border-radius:0px;
   height:2px;
   margin: 2px 0;
   transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
   }
   span:nth-of-type(1){
     width:100%;
   }
   span:nth-of-type(2){
     width:100%;
   }
   span:nth-of-type(3){
     width:100%;
   }
   input[type="checkbox"]{
     display:none;
   }
   input[type="checkbox"]:checked ~ span {
     background-color: $yellow;
   }
   input[type="checkbox"]:checked ~ span:nth-of-type(1){
     transform-origin:bottom;
     transform:rotatez(45deg) translate(4px,4px)
   }
   input[type="checkbox"]:checked ~ span:nth-of-type(2){
     transform-origin:top;
     transform:rotatez(-45deg)
   }
   input[type="checkbox"]:checked ~ span:nth-of-type(3){
     transform-origin:bottom;
     transform: translate(-0px,-3px) rotatez(45deg);
     opacity:0
   }
 }

/****/
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: $textSize;
  overflow-x: hidden;

  @include regularFont();

}
p {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: $h2Size;
}

a.button {
  padding: 14px 34px 14px 18px;
  border-radius: 28px;
  background-color: $yellow;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    color: $white;
    font-weight: 700;
    font-size: 14px;
    position: absolute;
    top: 16px;
    right: 18px;
    width: 7px;
    height: 11px;
    background-image: url("../images/mini-arrow-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all .2s;
  }

  &:hover {
    &::after {
      right: 14px;
    }
  }
}
a.link {
  color: $yellow;
  text-decoration: underline;
  position: relative;


  &.file {
    padding-left: 60px;
    padding-top: 10px;
    &::before {
      position: absolute;
      left: 0px;
      top: 0px;
      content: "";
      width: 42px;
      height: 36px;
      background-size: contain;
      background-position: center;
      background-image: url("../images/bidon.png");
      background-repeat: no-repeat;
    }
  }
  &.video {
    padding-left: 60px;
    padding-top: 10px;
    &::before {
      position: absolute;
      left: 0px;
      top: 0px;
      content: "";
      width: 42px;
      height: 36px;
      background-size: contain;
      background-position: center;
      background-image: url("../images/tv.png");
      background-repeat: no-repeat;
    }
  }
}
div.content {
  @include regularFont();
  font-size: 16px;
  line-height: 1.63;
  p {
    line-height: 1.63;
  }
}

header.head {
  background-color: $yellow;
  background-image: url("../images/mosaic-blue-spray.png");
  background-repeat: repeat;
  margin: 0px;
  padding-top: 60px;
  padding-bottom: 120px;
  position: relative;
  z-index: 2;
  max-height: 640px;
  box-sizing: border-box;

  &:after {
    content: " ";
    position: absolute;
    z-index: 0;
    background-image: url("../images/head-deco.png");
    background-repeat: no-repeat;
    background-position: top left;
    max-width: 955px;
    max-height: 728px;
    width: 100vw;
    height: 100vw;
    background-size: contain;
    //bottom: -80px;
    top: -90px;
    left: 0px;

    @media only screen and (max-width:$tabletWidth) {
      max-width: 680px;
      max-height: 680px;
    }
    @media only screen and (max-width:$mobileWidth) {
      max-width: 420px;
      max-height: 420px;
      top: -40px;
    }
  }

  .bigNav {
    position: absolute;
    width: 100%;
    top: 0px;
    left: -100vw;
    background-color: $blue;
    background-image: url("../images/mosaic-blue-spray.png");
    background-repeat: repeat;
    background-position: top left;
    z-index: 2;
    padding-top: 220px;
    padding-bottom: 160px;
    padding-left: 20px;
    box-sizing: border-box;
    transition: all .5s;

    overflow: hidden;
    opacity: 1;

    &.displayed {
      height: auto;
      opacity: 1;
      left: 0px;
    }

    ul {
      max-width:980px;
      margin-right: auto;
      margin-left: auto;
      padding : 0px 0px 0px 0px;
      list-style: none;

      li {
        color:$white;
        font-size:46px;
        margin-bottom: 10px;
        font-weight: 100;
        @include titleFont();
        margin-left: 8vw;

        a {
          color: $white;
          text-decoration: none;
        }
      }
    }

    @media only screen and (max-width:$tabletWidth) {
      ul li {
        font-size: 32px;
        margin-left: 6vw;
      }
    }
  
    @media only screen and (max-width:$mobileWidth) {
      ul li {
        font-size: 24px;
        margin-left: 5vw;
      }
    }
  }

  .inside {
    max-width:980px;
    margin-right: auto;
    margin-left: auto;
    padding : 0px 0px 0px 0px;
    position: relative;
    z-index: 1;

    &.topheader {
      z-index: 3;
    }
  }

  nav {
    z-index: 99;
    position: absolute;
    right: 0px;
    display: flex;
    align-items: flex-end;

    div, a {
      width: 35px;
      background-image: url("../images/menu-item-bg.png");
      background-repeat: no-repeat;
      background-size: contain;
      margin-left: 10px;
      box-sizing: border-box;
    }

    div.hamContainer {
      padding:8px 9px 8px 7px;
      
    }
    a {
      display: block;
      height: 35px;
      padding: 8px 0 0 0;
      text-align: center;
      text-decoration: none;
      font-size: .7em;
      @include titleFont();
    }
  }

  h1 {
    margin: 0px;
    margin-left: 8vw;
    padding: 0px;
    padding-bottom: 60px;
    position: relative;
    img {
      max-width: 238px;
    }

    z-index: 3;
  }

  h2 {
    font-size: 110px;
    margin: 0px;
    color: $white;
    line-height: 0.9em;
    font-weight: 600;
    @include titleFont();
    margin-left: 8vw;
  }

  &.mini {
    background-color: $blue;
    background-image: none;
    padding-bottom: 20px;

    &:after {
      display: none;
    }

    h1 {
      img {
        width: 200px;
      }
      padding-bottom: 40px;
    }
  }

  @media only screen and (max-width:$tabletWidth) {
    padding-top: 40px;
    padding-bottom: 60px;
    h1 {
      padding-bottom: 40px;
      img {
        width: 200px;
      }
    }
    h2 {
      font-size: 4.4rem;
    }
  }

  @media only screen and (max-width:$mobileWidth) {
    padding-top: 16px;
    padding-bottom: 4px;
    h1 {
      padding-bottom: 20px;
      margin-left: 10vw;
      img {
        width: 136px;
      }
    }
    h2 {
      margin-left: 10vw;
      font-size: 2.6rem;
    }
  }
}

/**PAGE**/
header {
  //overflow-x: hidden;
}
main {
  overflow-x: hidden;
}
footer {
  //overflow-x: hidden;
}

section {
  width: 100%;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 1;
  position: relative;

  h2.subtitle {
    text-transform: uppercase;
    margin-top: 0px;
    color: $white;
    font-size: 90px;
    font-weight: 600;
    text-shadow: 8px 0px 0px $blue-darker;
    text-transform: uppercase;
    max-width: 600px;
    line-height: 110px;
    @include titleFont();
    margin-bottom: 60px;
  }

  img.title-picture {
    margin-bottom: 40px;
    width: 100%;
  }

  .inside {
    @include mainCenter(980px);
    position: relative;
    z-index: 1;
    

    p {
      margin-bottom: $textSize;
    }
  }
}

/**HP**/

section.contexte {
  background-color: $green;
  background-image: url("../images/mosaic-blue-spray.png");
  background-repeat: repeat;
  background-position: top left;
  perspective: 600px;
  perspective-origin: 50% 50%;

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../images/context-path.png");
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 0;
    top: 0;
    left: 0;
  }

  h2 {
    color: $yellow;
    text-shadow: 0px 20px 0px $shadow;
    transform: rotateY(30deg) skewY(-12deg); 
    max-width: 900px;
    margin-bottom: 90px;
  }
  img.title-picture {
    margin-left: -2vw;
    max-width: 968px;
  }
  .content {
    color: $white;
    padding-left: 240px;
    padding-right: 1vw;
    margin-top: -40px;
  }

  @media only screen and (max-width:$tabletWidth) {
    h2 {
      font-size: 60px;
      line-height: 70px;
      padding-top: 20px;
    }
    img.title-picture {
      margin: 0;
    }
    .content {
      margin-top: 0px;
      padding: 0;
    }
  }

  @media only screen and (max-width:$mobileWidth) {
    h2 {
      font-size: 40px;
      line-height: 50px;
      margin-left: -20px;
      margin-bottom: 60px;
      transform: rotateY(20deg) skewY(-9deg); 
    }
    .content {
      padding: 0;
    }
  }

}

section.objectifs {
  background-color: $red;
  color: $white;

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../images/objectifs-path.png");
    background-repeat: no-repeat;
    background-position: top right;
    z-index: -1;
    top: -70px;
    padding-top: 70px;
    right: 0;
    box-sizing: content-box;
  }

  img.title-picture {
    max-width: 680px;
  }

  h2 {
    color: $blue-darker;
    text-shadow: 0px 10px 0px $red-darker, 0px 14px 0px $blue-darker, 0px 24px 0px $red-darker, 0px 28px 0px $blue-darker, 0px 38px 0px $red-darker, 0px 42px 0px $blue-darker;
    font-size: 120px;
    line-height: 140px;
  }
  .intro {
    margin-left: 55%;
    margin-top: -100px;
    font-size: 38px;
    max-width: 380px;
  }
  .content {
    padding-top: 120px;
    margin-top: 50px;
    ol,ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
        list-style: none;
        max-width: 280px;
        font-size: 22px;
        position: relative;

        &::before {
          content: "";
          width: 106px;
          height: 98px;
          background-image: url("../images/list-bg.png");
          position: absolute;
          top: -110px;
          left: 0px;
          color: $blue-darker;
          font-size: 60px;
          text-align: center;
          padding-top: 14px;
          padding-right: 5px;
          box-sizing: border-box;
        }

        &:nth-child(1)::before {
          content: "1";
        }
        &:nth-child(2)::before {
          content: "2";
        }
        &:nth-child(3)::before {
          content: "3";
        }
        
      }
    }
  }
  
  .group {

    @include mainCenter(1440px);
    background-image: url("../images/group-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
    margin-top: 70px;

    .group-intro {
      @include blocCenter(980px);
      margin-top: 40px;
      font-size: 38px;
      position: relative;
    }
    .group-items {
      height: 50vw;
      min-height: 500px;
      max-height: 750px;
      position: relative;

      div {
        color: $white;
        font-size: 24px;
        position: absolute;
        width: 260px;
        text-align: center;
      }
      .g-item-1 {
        bottom: 5%;
        left: 10%;
      }
      .g-item-2 {
        top: 20%;
        left: 50%;
        margin-left: -120px;
      }
      .g-item-3 {
        right: 10%;
        bottom: 5%;
      }
    }
  }
  
  @media only screen and (max-width:$tabletWidth) {
    h2 {
      font-size: 80px;
      line-height: 90px;
      text-shadow: 0px 8px 0px $red-darker, 0px 12px 0px $blue-darker, 0px 20px 0px $red-darker, 0px 24px 0px $blue-darker, 0px 32px 0px $red-darker, 0px 36px 0px $blue-darker;
    }
    .intro {
      text-align: center;
      margin: 0 auto;
      font-size: 36px;
    }
    .content {
      ol {
        flex-direction: column;
        li {
          margin: 0 auto;
          text-align: center;
          &::before {
            left: 87px;
          }
          margin-bottom: 150px;
        }
        li:last-child {
          margin-bottom: 0px;
        }
      }
    }
    .group {
      margin-top: 40px;
      background-position: center bottom;

      .group-intro {
        text-align: center;
        margin-bottom: 20px;
        font-size: 36px;
      }
      .group-items {
        min-height: 400px;
        div {
          position: relative;
          top: 0px !important;
          left: auto !important;
          right: auto !important;
          margin: 15px auto !important;
          width: 60%;
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }

  @media only screen and (max-width:$mobileWidth) {

    h2 {
      font-size: 55px;
      line-height: 80px;
      text-shadow: 0px 8px 0px $red-darker, 0px 12px 0px $blue-darker, 0px 20px 0px $red-darker, 0px 24px 0px $blue-darker, 0px 32px 0px $red-darker, 0px 36px 0px $blue-darker;
    }
    .intro {
      font-size: 30px;
      margin-bottom: 0px;
    }
    .content {
      padding-top: 40px;
      ol {
        li {
          margin: 0 auto;
          text-align: center;
          &::before {
            left: 113px;
            top: -55px;
            content: "";
            width: 53px;
            height: 49px;
            background-image: url("../images/list-bg.png");
            background-size: cover;
            position: absolute;
            color: $blue-darker;
            font-size: 30px;
            text-align: center;
            padding-top: 7px;
            padding-right: 3px;
            box-sizing: border-box;
          }
          margin-bottom: 80px;
        }
        
      }
    }
    .group {
      margin-top: 20px;

      .group-intro {
        text-align: center;
        margin-bottom: 20px;
        font-size: 30px;
      }
    }
  }
}

section.etapes {
  background-color: $blue;
  background-image: url("../images/mosaic-blue-spray.png");
  background-repeat: repeat;
  background-position: top left;

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../images/etapes-path.png");
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 0;
    top: -120px;
    padding-top: 120px;
    left: 0;
  }

  h2.subtitle{
    color: $white;
    font-size: 100px;
    font-weight: 600;
    text-shadow: 8px 0px 0px $blue-darker;
    text-transform: uppercase;
    max-width: 600px;
    line-height: 110px;
    @include titleFont();
    margin-bottom: 60px;
  }
  .intro {
    font-size: 26px;
    line-height: 34px;
    color: $yellow;
    font-weight: bold;
    padding-right: 240px;
    padding-left: 4vw;
    margin-top: 20px;
  }
  .etapes-detail {
    margin-top: 140px;

    .ed1 {
      max-width: 400px;
      margin-left: 10vw;
      margin-bottom: 280px;
      img {
        display: block;
        margin-bottom: 20px;
      }
  
      &::after {
        width: 418px;
        height: 424px;
        background-image: url("../images/picto-step-1.png");
        top: -60px;
        right: -420px;
      }
     }
     .ed2 {
       max-width: 520px;
       margin-left: 380px;
       margin-bottom: 200px;
 
       &::after {
         width: 459px;
         height: 425px;
         background-image: url("../images/picto-step-2.png");
         top: -100px;
         left: -500px;
       }
     }
     .ed3 {
       max-width: 520px;
       margin-left: 6vw;
       margin-bottom: 80px;
 
       &::after {
         width: 418px;
         height: 424px;
         background-image: url("../images/picto-step-3.png");
         top: -100px;
         right: -440px;
       }
     }

    div {
      font-size: 18px;
      line-height: 28px;
      color: $white;
      position: relative;

      .content {
        margin-bottom: 30px;
      }

      h3 {
        @include titleFont();
        font-size: 32px;
        color: $white;
        padding: 8px 16px 8px 24px;
        background-color: $blue-darker;
        box-shadow: 4px 4px 0px $yellow;
        display: inline-block;
        font-weight: 100;
        position: relative;

        &::after {
          content: "";
          background-image: url("../images/arrow.svg");
          width: 30px;
          height: 16px;
          background-size: contain;
          position: absolute;
          top: 20px;
          left: -15px;
        }
      }

      &::after {
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
      }

      @media only screen and (max-width:$tabletWidth) and (min-width:$mobileWidth) {
        
        h3 {
          font-size: 28px;
          padding: 6px 14px 6px 18px;

          &::after {
            top: 16px;
          }
        }
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 280px;
        margin-bottom: 0 !important;

        &::after {
          content: "";
          top: -260px !important;
          left: 50% !important;
          width: 240px !important;
          height: 240px !important;
          margin-left: -120px;
        }
      }
    
      @media only screen and (max-width:$mobileWidth) {
        
        h3 {
          font-size: 24px;
          padding: 6px 12px 6px 16px;

          &::after {
            top: 14px;
          }
        }
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 240px;

        &::after {
          content: "";
          top: -220px !important;
          left: 50% !important;
          width: 200px !important;
          height: 200px !important;
          margin-left: -100px;
        }
      }

    }

    
  }

  @media only screen and (max-width:$tabletWidth) {
    h2.subtitle {
      font-size: 50px;
      line-height: 48px;
      margin-bottom: 40px;
    }
    
    .intro {
      font-size: 20px;
      font-weight: 400;
      padding: 0;
      margin: 0;
    }
    .etapes-detail {
      margin-top: 60px;
    }
  }

  @media only screen and (max-width:$mobileWidth) {
    h2.subtitle {
      font-size: 30px;
      line-height: 42px;
      margin-bottom: 30px;
    }
    .content {
      padding: 0;
    }
  }

}

/**PAGES**/

section.contact {
  background-color: $purple;

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("../images/contact-path.png");
    background-repeat: no-repeat;
    background-position: top right;
    z-index: 0;
    top: -100px;
    padding-top: 100px;
    left: 0;
    box-sizing: content-box;
  }

  h2.subtitle{
    color: $red;
    font-size: 100px;
    font-weight: 600;
    text-shadow: 8px 0px 0px $purple-darker;
    text-transform: uppercase;
    max-width: 600px;
    line-height: 80px;
    @include titleFont();
    margin-bottom: 60px;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: start;
    a {
      width: 108px;
      height: 108px;
      display: block;
      margin-right: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      &.fb {
        background-image: url("../images/FB.png");
      }
      &.insta {
        background-image: url("../images/Insta.png");
      }
      &.yt {
        background-image: url("../images/yt.png");
      }
    }

  }

  @media only screen and (max-width:$tabletWidth) {
    h2.subtitle {
      font-size: 60px;
      line-height: 50px;
      margin-bottom: 50px;
    }
    .social {
      a {
        width: 60px;
        height: 60px;
        margin-right: 20px;
      }
    }
  }

  @media only screen and (max-width:$mobileWidth) {
    h2.subtitle {
      font-size: 30px;
      line-height: 34px;
      margin-bottom: 40px;
    }
    .social {
      a {
        width: 40px;
        height: 40px;
        margin-right: 12px;
      }
    }
  }


}

section.page {
  background-color: $blue;
  color: $white;
  padding-top: 1px;

  .page-nav {
    a {
      color: $yellow;
      text-decoration: none;
      display: inline-block;
      padding-left: 50px;
      font-size: 1.1em;
      position: relative;
      &::before {
        content: "";
        background-image: url("../images/arrow.svg");
        width: 30px;
        height: 16px;
        background-size: contain;
        position: absolute;
        top: 3px;
        left: 0px;
        transform: rotate(180deg);
      }
    }
  }
  
  .intro {
    h2 {
      @include titleFont();
      color: $yellow;
      font-size: 50px;
      padding-left: 220px;
      padding-top: 40px;
      padding-bottom: 0px;
      position: relative;
      max-width: 480px;
      line-height: 1em;

      &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 200px;
        height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
    div {
      padding-left: 230px;
      margin-top: -20px;
    } 
    margin-bottom: 40px; 
  }
  .content {
    margin-bottom: 20px;
    line-height: 1.2em;

    h4 {
      font-size: 22px;
      color: $yellow;
      font-weight: normal;
      margin-bottom: 0;
    }
  }
  .items {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url("../images/bg-step-1.png");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;

    .item {
      width: 280px;
      margin-bottom: 40px;

      .title {
        font-weight: 600;
        font-size: 1.1em;
        margin-bottom: 10px;
      }
      a.link {
        display: block;
        padding-top: 5px;
        color: $yellow;
      }
    }
  }
  .videos {
    display: flex;
    padding-bottom: 40px;
    flex-wrap: wrap;

    .item {
      width: 310px;
      margin-right: 10px;
      h4 {
        @include regularFont();
        font-size: 30px;
        line-height: 1em;
        width: 310px;
        height: 175px;
        padding: 44px 0px 0 135px;
        background-image: url("../images/webtv-bg-01.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 8px;
      }
      a.link {
        text-align: center;
        text-decoration: underline;
        display: block;
      }

      &:nth-child(2n) { 
        h4 {
          background-image: url("../images/webtv-bg-02.png");
        }
      }
      &:nth-child(3n) { 
        h4 {
          background-image: url("../images/webtv-bg-03.png");
        } 
      }
      &:nth-child(4n) { 
        h4 {
          background-image: url("../images/webtv-bg-04.png");
        }
      }
      &:nth-child(5n) { 
        h4 {
          background-image: url("../images/webtv-bg-05.png");
        }
      }
    }
  }
  .files {
    display: flex;
    flex-direction: column;

    .item {
      margin-bottom: 12px;

      a.link {
        color: $yellow;
        position: relative;
        display: inline-block;
        padding-right: 60px;
        font-size: 18px;
        text-decoration: none;
        &::after {
          width: 24px;
          height: 20px;
          content: "";
          background-image: url("../images/download-picto.svg");
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          right: 0px;
          top: 0px;
        }
      }
    }
  }

  &#community {
    .intro h2 {
      &::before {
        background-image: url("../images/picto-step-1.png");
      }
    }
  }
  &#tools {
    .intro h2 {
      &::before {
        background-image: url("../images/picto-step-3.png");
      }
    }
    .toolslist {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      .item {
        width: 300px;

        h5 {
          @include titleFont();
          font-size: 28px;
          text-transform: uppercase;
          margin: 0 0 20px 0;
        }
        .content {

        }
        a.link {
          display: block;
          margin-bottom: 26px;
          font-size: 14px;
          font-weight: bold;
        }

      }
    }
  }
  &#webtv {
    .intro h2 {
      max-width: 320px;
      &::before {
        background-image: url("../images/picto-step-2.png");
      }
    }
  }

  @media only screen and (max-width:$tabletWidth) {
    .intro {
      h2 {
        font-size: 40px;
        padding: 140px 0px 30px 0px;
        position: relative;
        max-width: 320px;
        margin: 0 auto;
        text-align: center;
  
        &:before {
          content: "";
          position: absolute;
          top: 0px;
          left: 50%;
          width: 140px;
          height: 140px;
          margin-left: -70px;
        }
      }
      div {
        margin-top: -20px;
        text-align: center;
        padding: 0 40px;
      } 
    }
    .items {
      justify-content: space-around;
    }
  }

  @media only screen and (max-width:$mobileWidth) {
    .intro {
      h2 {
        font-size: 30px;
        padding: 90px 0px 30px 0px;
        position: relative;
        max-width: 280px;
        
        &:before {
          content: "";
          position: absolute;
          top: 0px;
          width: 100px;
          height: 100px;
          margin-left: -50px;
        }
      }
      div {
        padding: 0 20px;
      } 
    }
  }
}

footer {
  background-color: $white;
  padding-top: 60px;
  padding-bottom: 60px;

  .inside {
    @include mainCenter(980px);

    display: flex;
    justify-content: space-between;

    .copyright {
      color: $purple-darker;
      font-size: 18px;
      @include titleFont();
      font-weight: 200;
      padding-right: 20px;
    }
    .erasmus {
      max-width: 300px;
      color: $purple-darker;
      font-size: 11px;
      @include titleFont();
      font-weight: 200;
      position: relative;
      padding-top: 67px;

      &::before {
        content: "";
        width: 195px;
        height: 67px;
        background-image: url("../images/erasmus.png");
        position: absolute;
        top: 0px;
      }
    }

    @media only screen and (max-width:$mobileWidth) {
      .copyright {
        color: $purple-darker;
        font-size: 12px;
      }
      .erasmus {
        max-width: 200px;
        color: $purple-darker;
        font-size: 11px;
        @include titleFont();
        font-weight: 200;
        position: relative;
        padding-top: 60px;
  
        &::before {
          content: "";
          width: 200px;
          height: 60px;
          background-image: url("../images/erasmus.png");
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: 0px;
        }
      }
    }
  }
}