//variables couleurs
$yellow: #FFCB00;
$green: #007552;
$red: #DB7F7C;
$blue: #008FB3;
$purple: #444679;
$white: white;

/*** size ***/
$h1Size:24px;
$h2Size:14px;
$h3Size:13px;
$h4Size:12px;
$textSize:14px;
$lineTextHeight:21px;

$minMobileWidth:320px;
$maxMobileWidth:959px;

/*** sinpets ***/

@mixin sizeForMobile() {
    width: 100% !important;
    min-width: 320px;
    overflow: hidden;
}

@mixin mainCenter($width: 960px) {
    width:$width;
    margin-right: auto;
    margin-left: auto;
    padding : 0px 0px 0px 0px;

    @media only screen and (max-width:$maxMobileWidth) {
        @include sizeForMobile();
    }
}
@mixin mainCenterFlexRow() {
    width:960px;
    margin-right: auto;
    margin-left: auto;
    padding : 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media only screen and (max-width:$maxMobileWidth) {
        @include sizeForMobile();
    }
}

/****/
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: $textSize;
}

header.head {
  background-color: $yellow;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;

  .inside {
    @include mainCenter(1200px);
  }

  nav {
    position: absolute;
  }

  h1 {
    margin: 0px;
    padding: 0px;
    padding-bottom: -20px;
  }

  h2 {
    font-size: 8rem;
    margin: 0px;
  }
}

/**PAGE**/

section {
  width: 100%;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  .inside {
    @include mainCenter(1200px);
  }
}

section.contexte {
  background-color: $green;

  h2 {
    font-size: $h2Size;
  }
  .content {
    color: $white;
    padding-left: 15vw;
  }

}

section.objectifs {

}

section.etapes {

}

section.contact {

}