---
title: Hope in Us
---

%body.main
  %header.head
    %nav.lang
    %h1.logo
    %h2.title= data.home.title
  %section.contexte
    %h2.subtitle= data.home.context.title
    %div.content
      :markdown
        #{data.home.context.content}
  %section.objectifs
    %h2.subtitle
  %section.etapes
  %section.contact